
  .base-container {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    margin-left: 20px;
    height: 520px;
    max-height: 560px;
    margin-right: 20px;
    /* margin-top: 90px; */
    max-width: 1600px; 
    margin-bottom: -5px

  }
  .base-container-custom {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    margin-left: 20px;
    height: 560px;
    margin-right: 20px;
    /* margin-top: 90px; */
    max-width: 1650px; 
    margin-bottom: -5px

  }
  #cancel-button {
    margin-left : 50px;

  }
.for-add-user {
    color:var(--bg);
    background-color: var(--bg);
    height: 2px;
    max-width: 1150px;
    border: 0;
    margin-left: 15px;
    border-radius: 2rem;
    margin-right: 16px;
    margin-top: 10px
  }

  .hr-role {
    color :var(--bg) ;
    background-color : var(--bg);
    height : 2px ; 
    width : 200px ; 
    margin-left: -280px;
    margin-top: 35px;

  }

  .date-picker {
    width: 259px;
  }
  .user-date-picker {
    width: 260px;
    margin-left: -50px
  }
  /*
  for ipad and notebook
  */
  @media only screen 
 and (min-width : 768px) 
 and (max-width : 1024px) {
  .base-container {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    margin-left: 10px;
    height: 540px;
    margin-right: 10px;
    margin-top: 80px;
    width: 990px;    
    max-width: 1200px; 
    margin-bottom: -5px

  }
  .base-container-custom {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    margin-left: 20px;
    height: 580px;
    margin-right: 20px;
    margin-top: 90px;
    max-width: 1650px; 
    margin-bottom: -5px

  }
  .for-add-user {
    color: var(--bg);
    background-color: var(--bg);
    height: 5px;
    max-width: 950px;
    border: 0;
    border-radius: 2rem;
    margin-left: 25px
  }
  .hr-role {
    color : var(--bg) ;
    background-color : var(--bg);
    height : 2px ; 
    width : 100px ; 
    margin-left: -220px;
    margin-top: 35px;
  }
  #cancel-button {
    margin-left : -50px
  }
  .user-date-picker {
    width: 20px;
  }
  
  }



