.MuiGrid-spacing-xs-1 > .MuiGrid-item {
    padding: 8px;
    margin-left: -18px !important;

}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 8px;
    margin-left: -28px !important;
}
.makeStyles-root-1 {
    margin: auto;
    /* margin-left: -64px !important; */
}
