.formdesigner-div {
    width : 100%;
    height: 100%;
    background: #DCDCDC	;
    margin-top : 80px;
    margin-bottom: -10px
}
#form-panel-form-designer{
    max-height:535px;
    height:535px;
    width: 900px;
    overflow-y: auto;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(197, 195, 195);
    
}
#properties-panel {
    height: 535px;
    margin-top: 33px;
    margin-left: 251px;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(197, 195, 195);
    
}