@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.role-main-header {
    width: 100%;
    margin-top: 0px;
    margin-left : 0px;
    margin-right : 0px;
    overflow: hidden

}
.role-heading {
    margin-left: 0px
}

.role-main-card {
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
    width: 100%;
    height: 490px;
    overflow: hidden;
}

.role-input-search {
    background: white !important;
    width: 25px
    

}
.search-btn{
    margin-left: 45px;
    width: 250px

}
.btn-user-role {
    margin-top: 0px;
    margin-left: 250px
}
.content {
    margin-left: 100px
 
}
.form-group.required .col-form-label:after {
    content:"*";
    color:red;
  }